## Import Libraries

In [1]:
## Loading and Processing Data
import numpy as np
import pandas as pd

## Import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

C:\Users\ybrim\AppData\Local\Temp\ipykernel_13336\4113833418.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

ModuleNotFoundError: No module named 'plotly'

## Loading And Creating a Copy of Data

In [ ]:
toyota_data = pd.read_csv("Datasets/Toyota.csv")

In [ ]:
## Create a Copy

toyota_df = toyota_data.copy()

## Overviewing And Understanding The Toyota Dataframe

In [ ]:
## lets you see the first five rows from the top of a data

toyota_df.head()

In [ ]:
toyota_df.tail()

In [ ]:
toyota_df.size

In [ ]:
## Lets Check the total number of Rows and Colunms

print(f"=> Total Number of Rows: {toyota_df.shape[0]} => Total Number of Columns: {toyota_data.shape[1]}")

In [ ]:
## Lets display Index

toyota_df.index

In [ ]:
## lets display the column names
toyota_df.columns

In [ ]:
## Lets check the Columns types
toyota_df.dtypes

In [ ]:
## Lets get a concise summary of our toyota dataframe

toyota_df.info()

### Check for unique Instances in the Following Columns
- HP
- KM
- MetColor
- Automatic
- Doors

In [ ]:
print(np.unique(toyota_df['HP']))

In [ ]:
print(np.unique(toyota_df['KM']))

In [ ]:
print(np.unique(toyota_df['MetColor']))

In [ ]:
print(np.unique(toyota_df['Automatic']))

In [ ]:
print(np.unique(toyota_df['Doors']))

## Data Preprocessing
- Replace '??' in KM with NaN and change column type to float
- Replace  '????' in HP with NaN and change column type
- In Column 'Doors', 'five' with 5, 'four' with 4, 'three' with 3, and change the column type

In [ ]:
toyota_df['KM'] = toyota_df['KM'].replace('??', np.nan)

In [ ]:
toyota_df['KM'] = toyota_df['KM'].astype(float)

In [ ]:
print(np.unique(toyota_df['KM']))

In [ ]:
toyota_df['HP'] = toyota_df['HP'].replace('????', np.nan)
toyota_df['HP'] = toyota_df['HP'].astype(float)
print(np.unique(toyota_df['HP']))

### Assignment on Data Preprocessing

In [ ]:
toyota_df['Doors'] = toyota_df['Doors'].replace('five', 5)

In [ ]:
toyota_df['Doors'] = toyota_df['Doors'].replace('four', 4)

In [ ]:
toyota_df['Doors'] = toyota_df['Doors'].replace('three', 3)

In [ ]:
toyota_df['Doors'] = toyota_df['Doors'].astype(int)

In [ ]:
print(np.unique(toyota_df['Doors']))

## DAY-9 Assignment on MEAN, MEDIAN, FILLNA

In [ ]:
## CHECKING FOR MISSING Values IN OUR dataframe or not

toyota_df.isnull()

In [ ]:
toyota_df.isnull().sum()

In [ ]:
mean_Age = toyota_df['Age'].mean()

mean_Age

In [ ]:
round(toyota_df['Age'].mean())

In [ ]:
toyota_df['Age'].median()

## Filling in the Missing Valuesin the dataframe

In [ ]:
toyota_df['Age'] = toyota_df['Age'].fillna(mean_Age)

In [ ]:
toyota_df['Age'].isnull().sum()

In [ ]:
toyota_df['KM'].isnull().sum()

In [ ]:
toyota_df.isnull().sum()

In [ ]:
## mean_fuel = toyota_df['FuelType'].mean()
toyota_df['FuelType'].value_counts()

In [ ]:
toyota_df['FuelType'].value_counts().index[0]

In [ ]:
mean_fuelType = toyota_df['FuelType'].value_counts().index[0]

In [ ]:
toyota_df['FuelType'] = toyota_df['FuelType'].fillna(mean_fuelType)

In [ ]:
toyota_df['FuelType'].isnull().sum()

In [ ]:
toyota_df['FuelType'].isnull().sum()

In [ ]:
toyota_df['MetColor'].value_counts()

In [ ]:
mean_metcolor = toyota_df['MetColor'].value_counts().index[0]

In [ ]:
toyota_df['MetColor'] = toyota_df['MetColor'].fillna(mean_metcolor)

In [ ]:
toyota_df['MetColor'].isnull().sum()

In [ ]:
toyota_df.isnull().sum()

### Adding a new Column to find the difference, in the form Addition

In [ ]:
toyota_df['KM'] = toyota_df['KM'].replace('??', np.nan)
toyota_df['KM'] = toyota_df['KM'].astype(float)

In [ ]:
toyota_df['Profit'] = toyota_df['Price'] - toyota_df['KM']

In [ ]:
toyota_df

In [ ]:
numerical_cols = ['Price', 'Age', 'KM', 'HP', 'CC', 'Weight', 'Profit']

categorical = ['Doors', 'FuelType', 'MetColor']

In [ ]:
toyota_df[numerical_cols]

In [ ]:
toyota_df[categorical]

### FILLING IN THE MISSING VALUES

In [ ]:
## del toyota_df ["Unnamed: 0"]

In [ ]:
toyota_df

In [ ]:
mean_age = toyota_df['Age'].mean()

In [ ]:
toyota_df['Age'] = toyota_df['Age'].fillna(mean_age)

In [ ]:
toyota_df['Age'].isnull().sum()

In [ ]:
median_age = toyota_df['KM'].median()

In [ ]:
toyota_df['KM'].isnull().sum()

In [ ]:
toyota_df['KM'] = toyota_df['KM'].fillna(median_age)

In [ ]:
toyota_df['KM'].isnull().sum()

In [ ]:
toyota_df['MetColor'].value_counts()
##toyota_df['MetColor']= toyota_df['MetColor'].fillna(mean_mc)
##toyota_df['MetColor'].isnull().sum()

In [ ]:
toyota_df

In [ ]:
toyota_df['Profit'] = toyota_df['Profit'].fillna(median_age)

In [ ]:
toyota_df

## LECTURERS POINT

In [ ]:
##toyota_df['Age'] = toyota_df['Age'].fillna(toyota_df['Age'].mean())
##toyota_df['Age'].isnull().sum()

In [ ]:
##toyota_df['KM'] = toyota_df['KM'].fillna(toyota_df['KM'].mean())
##toyota_df['KM'].isnull().sum()

In [ ]:
##toyota_df['MetColor'] = toyota_df['MetColor'].fillna(toyota_df['MetColor'].value_counts().index([0]))
##toyota_df['MetColor'].isnull().sum()

In [ ]:
cat_cols = ['MetColor','Automatic','Doors']

num_cols = ['Price','Age','KM', 'HP','CC','Weight']

In [ ]:
cat_df = toyota_df[cat_cols]

num_df = toyota_df[num_cols]

### DAY 10 - EDA Exploratory analysis
#### Target and Features
## Descriptive Analysis
- Total Price, Highest Price, and Lowest Price

In [ ]:
toyota_df['Price'].sum()

In [ ]:
toyota_df['Price'].min()

In [ ]:
toyota_df['Price'].max()

In [ ]:
toyota_df.describe()

In [ ]:
corr_toyota_df = num_df.corr()

corr_toyota_df

In [ ]:
plt.scatter(toyota_df['Age'], toyota_df['Price'], c = 'red')

plt.title('Relation between Age and Price of a car.')

plt.ylabel('Price (Dollars)')

plt.xlabel('Age (Months)')

plt.savefig('age_price_rel.png')

plt.show()

### RELATIONSHIP BETWEEN PRICE AND MILEAGE

In [ ]:
# plt.scatter(toyota_df['KM'], toyota_df['Price'], c = 'blue')

# plt.title('Relation between Mileage and Price of a car.')

# plt.ylabel('Price (Dollars)')

# plt.xlabel('KM (Kilometers)')

# plt.savefig('km_price_rel.png')

# plt.show()

### RELATIONSHIP BETWEEN PRICE AND HP

In [ ]:
# plt.scatter(toyota_df['HP'], toyota_df['Price'], c = 'green')

# plt.title('Relation between Hp and Price of a car.')

# plt.ylabel('Price (Dollars)')

# plt.xlabel('HP (rpm)')

# plt.savefig('hp_price_rel.png')

# plt.show()

### RELATIONSHIP BETWEEN PRICE AND CC

In [ ]:
# plt.scatter(toyota_df['CC'], toyota_df['Price'], c = 'cyan')

# plt.title('Relation between CC and Price of a car.')

# plt.ylabel('Price (Dollars)')

# plt.xlabel('CC (cubiccentimeter)')

# plt.savefig('cc_price_rel.png')

# plt.show()

In [ ]:
# plt.scatter(toyota_df['Weight'], toyota_df['Price'], c = 'magenta')

# plt.title('Relation between Weight and Price of a car.')

# plt.ylabel('Price (Dollars)')

# plt.xlabel('Weight (kg)')

# plt.savefig('weight_price_rel.png')

# plt.show()

## Histogram visualization (Frequency distribution of price)

In [ ]:
plt.hist(toyota_df['Price'])

plt.title('Histogram Distribution of price.')

plt.ylabel('Frequency')

plt.xlabel('Price range')

plt.savefig('Hist_price_rel.png')

plt.show()

### Histogram distribution of KM

In [ ]:
plt.hist(toyota_df['KM'])

plt.title('Histogram Distribution of Mileage.')

plt.ylabel('Mileage')

plt.xlabel('KM range')

plt.savefig('Hist_KM_rel.png')

plt.show()

### Histogram Distribution on Age

In [ ]:
plt.hist(toyota_df['Age'])

plt.title('Histogram Distribution of Age.')

plt.ylabel('Age Difference')

plt.xlabel('Age range')

plt.savefig('Hist_Age_rel.png')

plt.show()

### Histogram for MetColor Distribution

In [ ]:
plt.hist(toyota_df['HP'])

plt.title('Histogram Distribution of HP.')

plt.ylabel('Horse power')

plt.xlabel('HP range')

plt.savefig('Hist_hp_rel.png')

plt.show()

In [ ]:
sns.countplot(data=toyota_df, x ='FuelType')

In [ ]:
sns.barplot(data = toyota_df, y='Price', x='FuelType', hue = 'MetColor')

In [ ]:
sns.barplot(data = toyota_df, y='Price', x='FuelType', hue='Doors', errorbar=None)

plt.title('Distribution of Price against FuelType in relation to Doors.')
plt.xlabel('')
plt.ylabel('')

plt.show()

In [ ]:
sns.scatterplot(data= toyota_df, y='Price', x='Age', hue='Automatic')

plt.title('scatter Distribution of Price against Age.')

In [6]:
door_count = toyota_df['Doors'].value_counts()

NameError: name 'toyota_df' is not defined